/*
  TOP
*/
/* Body padding required by bootstrap top navbar (to avoid content overlay) */
body { padding-top: 50px; }
.navbar {height: 40px; }
.social { margin-top: 0; }
.social > a { font-size: 2.5em; }
.page-header { padding-left: 20px; }
/* Fix navigation links background on phone browser */
@media ( max-width: 768px ) { .navbar-blog-collapse { background-color: rgb(255, 255, 255); } }
/* Allows FontAwesome icons in simplemenu labels */
.simple-menu a:before { 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
/* Then add .liX > a:before { content: "\YYYY\20"; } with X the index of the menu entry
   and YYYY the hexadecimal unicode of the icon (http://fontawesome.io/icons/) and \20 add a space after the icon
   ex : .li1 > a:before { content: "\f02c\20"; } adds the fa-tags icon before the 1st entry label
   to add an icon after the label, use `after` instead of `before` */

/*
  ENTRIES
*/
.post-info a { color: rgb(255, 255, 255); }
.post-info a:hover, .post-info-co a:hover { text-decoration: none; }
.pagination-block {
  width: 100%;
  text-align: center;
}
/* responsive images */
.post-content img { max-width: 100%; height: auto; }

/*
  TAGS - CATEGORY
*/
.tag-list { line-height: 2.2em; }
.tag-list a:hover, .subcategories a:hover  { text-decoration: none; }
.tag-list .label { font-size: 1em; }
.tag-list .badge { color: rgb(92, 184, 92); background-color: rgb(255, 255, 255); }
